@use "global-rules" as *;

.projects {
    .container {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        padding-top: 32px;
        .project {
            padding: 16px;
            border-radius: $border-big;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            h2 {
                padding: 16px 0 12px;
            }
            img {
                width: 100%;
            }
            .technics {
                padding: 12px 0 24px;
                i {
                    font-size: 1.3em;
                }
            }
            a {
                color: #fff;
                padding: 6px 12px;
                text-decoration: none;
                border-radius: $border-small;
                background-color: $main-clr;
            }
            a:hover {
                background-color: rgb(3, 0, 187);
            } 
        }
    }
}